.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.hero img {
    margin-top: 100px;
    width: 250px;
    background: #fff;
    border-radius: 50%;
    height: 250px;
    object-fit: contain;
    padding: 20px;
}

.hero h1{
    text-align: center;
    font-size: 70px;
    font-weight: 600;
}
.hero span{
 background: linear-gradient(267deg, #46a4ec 60.36%, #2c42e2 102.06%);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero-action {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
}
.hero-connect {
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 50px;
    cursor: pointer;
 background: linear-gradient(267deg, #46a4ec 60.36%, #2c42e2 102.06%);
}
.hero-resume {
    padding: 15px 45px;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid #fff;
}
.hero-connect:hover{
border: 2px solid white;
}
.hero-resume:hover{
border: 2px solid #2e4be3;
}

@media(min-width:1550px){
    .anchor-link {
        font-size: 22px;
    }
}

@media(max-width:768px){
    .hero {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .hero img {
        margin-top: 90px;
        width: 200px;
        height: 200px;
    }
    .hero h1 {
        margin-top: 10px;
        font-size: 35px;
    }
.hero p {
    width: 80%;
    font-size: 16px;
    line-height: 25px;
    margin: 5px 0;
}
.hero-action {
    gap: 10px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 20px;
    border-radius: 40px;
    font-size: 14px;
}
.hero-resume {
    padding: 18px 30px;
    border-radius: 40px;
    font-size: 14px;
}
}