.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.about-sections {
    display: flex;
    gap: 60px;
}
.about-left img {
    width: 250px;
    background: #fff;
    border-radius: 50%;
    height: 250px;
    object-fit: contain;
    padding: 20px;
}
.about-title {
    position: relative;
}
.about-title h1 {
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}
.about-title img {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0px;
    right: 0;
    z-index: -1;
    width: 110px;
    margin: 0 auto;
    opacity: 0.5;
}
about-sections {
    display: flex;
    gap: 80px;
}
.about-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about-ptag {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}
.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.skill {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.skill p {
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}
.about-skills hr {
    background: linear-gradient(267deg, #46a4ec 60.36%, #2c42e2 102.06%);
    outline: none;
    border: none;
    height: 8px;
    border-radius: 50px;
}
.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;
}
.about-achievement {
    gap: 10px;
}
.achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-achievements h1{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(267deg, #46a4ec 60.36%, #2c42e2 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievements p{
    font-size: 22px;
    font-weight: 500;
}
.skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.achievements:hover{
    transform: scale(1.12);
    transition: 0.5s; 
}

@media (max-width: 768px) {
    .about {
        gap: 50px;
        align-items: start;
    }
    .about-title h1 {
       font-size: 40px;
       padding: 0;       
    }
    .about-title img {
        width: 100px;
        right: -130px;
}
.about-sections {
    flex-direction: column;
}
.about-left {
    display: none;
}
.about-ptag {
    font-size: 18px;
    line-height: 32px;
}
.skill {
    gap: 20px;
    align-items: center;
}
.skill p {
    font-size: 16px;

}
.skill hr {
    height: 6px;
}
.about-achievements{
    justify-content: space-between;
}
.achievements{
    gap: 10px;
}
.achievements h1{
    font-size: 28px;
}
.achievements p{
    font-size: 12px;
    text-align: center;
}
}